.Header{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hide{
  display: none;
}

.colorBrand{
  color: var(--standard-yellow);
}

.Header > h2 {
  font-size: 2.1rem;
}

.Header > p{
  max-width: 70%;
  margin: 0 auto;
  font-size: 1.5rem;
  line-height: 2;
  color: var(--dark-grey-text);
  font-weight: 500;
}