.Home{
  padding: 6rem 3rem 1rem 3rem;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.gridLeft > div > h1{
  font-size: 3rem;
}

.colorText{
  color: var(--standard-yellow);
}

.gridLeft{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.gridRight{
  display: flex;
  justify-content: flex-end;
}

.imageHome{
  max-width: 100%;
  height: auto;
}

.subtitle{
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--dark-grey-text);
  margin-bottom: 1rem;
}

.buttonLogIn{
  max-width: 30%;
  text-align: center;
  border-radius: 3rem;
  padding: 0.8rem 2rem;
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--background-yellow);
  background-color: var(--standard-black);
  transition: 0.7s all ease;
}

.buttonLogIn:hover{
  background-color: var(--standard-yellow);
}

@media screen and (max-width: 830px){
  .Home{
    grid-template-columns: 1fr;
    text-align: center;
  }
  .gridRight{
    grid-row-start: 1;
    max-width: 40%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 480px){
  .gridRight{
    max-width: 90%;
  }
}