.Subscriptions{
  padding: 7rem 3rem 1rem 3rem;
  min-height: 100vh;
}

.gridSubscription{
  display: grid;
  grid-template-columns: repeat(2, minmax(25rem, 25%));
  justify-content: center;
  gap: 4rem 2rem;
  margin: 2.5rem 0;
}

.gridSubscription > div {
  background-color: #fff;
  box-shadow: 0 0 20px 5px rgba(24, 24, 24, 0.137);
  border-radius: 1.7rem;
  min-height: 20rem;
  transition: 0.7s all ease;
  cursor: pointer;
  padding: 2rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  text-align: center;
}

.gridSubscription > div:hover {
  box-shadow: 0 0 20px 5px rgba(219, 168, 0, 0.856);
}

.gridSubscription > div > header {
  font-size: 1.5rem;
  font-weight: 700;
}

.price{
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.price > h2{
  color: var(--standard-yellow);
  font-size: 2.5rem;
}

.price > h2 > span {
  color: var(--dark-grey-text);
  font-weight: 500;
  font-size: 1.2rem;
}

.price > p{
  font-size: 1.2rem;
}

.ulDivSubscription > ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: start;
  width: fit-content;
  margin: 0 auto;
}

.ulDivSubscription > ul > li {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

@media screen and (max-width: 630px){
  .gridSubscription {
    grid-template-columns: 70%;
  }
}

@media screen and (max-width: 480px){
  .gridSubscription {
    grid-template-columns: 80%;
  }

  .gridSubscription > div{
    gap: 3rem;
  }
}